
<div class="content-border">
<h1 mat-dialog-title>New product</h1>
<div class="example-container">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Manufacturer</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Protein Content</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>

</div>
<div class="example-container">


    <mat-form-field appearance="fill">
        <mat-label>Carbs</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Facts</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field class="example-form-field">
        <mat-label>Expiry Date</mat-label>
        <input matInput [matDatepicker]="datepicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
            <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
        </mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button  cdkFocusInitial>Ok</button>
  </div>

</div>