<p>
  <mat-toolbar>
    <span>Supplement Tracker</span>
  </mat-toolbar>
</p>
<div class="content-general row">
  <mat-form-field class="col-4">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Whey Protein Gold"
      #input
    />
  </mat-form-field>
  <div class="col-8 coluna-bt-cad">
    <button id="bt-cad" mat-raised-button (click)="openDialog()">
      Cadastrar Suplemento
    </button>
  </div>
  <div class="mat-elevation-z8 tabela-list">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
        <td mat-cell *matCellDef="let row">{{ row.manufacturer }}</td>
      </ng-container>

      <ng-container matColumnDef="proteins">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Protein Content
        </th>
        <td mat-cell *matCellDef="let row">{{ row.proteins }}g</td>
      </ng-container>

      <ng-container matColumnDef="carbs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Carbs</th>
        <td mat-cell *matCellDef="let row">{{ row.carbs }}g</td>
      </ng-container>

      <ng-container matColumnDef="fats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fats</th>
        <td mat-cell *matCellDef="let row">{{ row.fats }}g</td>
      </ng-container>

      <ng-container matColumnDef="expiryDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry date</th>
        <td mat-cell *matCellDef="let row">{{ row.expiryDate }}</td>
      </ng-container>

			<ng-container matColumnDef="signSupplement">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            (click)="signSupplement(row.id)"
            [class.expanded]="expandedRow === row.id"
						*ngIf="!isAlreadySigned(row.id)"
						matTooltip="Assinar Suplemento"
						[disabled]="!isSignAuthorized(row.id)"
          >
					<mat-icon>edit_on</mat-icon>
          </button>
        </td>
      </ng-container>

			<ng-container matColumnDef="revokeSign">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            (click)="revokeSign(row.id)"
            [class.expanded]="expandedRow === row.id"
						*ngIf="isAlreadySigned(row.id)"
						matTooltip="Revogar Assinatura"
          >
					<mat-icon>edit_off</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            (click)="openDetails(row.id)"
            [class.expanded]="expandedRow === row.id"
						matTooltip="Ver Detalhes"
          >
					<mat-icon>security</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of supplements"
    ></mat-paginator>
  </div>
</div>
